<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UnitLetter" value="G"/>
    <add key="IsoMountPath" value="C:\Program Files (x86)\Elaborate Bytes\VirtualCloneDrive\VCDMount.exe"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
